.second-column {
  display: flex;
  justify-content: space-between;
}

.selected {
  color: blueviolet;
}

#files-list {
  grid-template-columns: 1fr max-content max-content;
}

form {
  margin-top: 10px;
  text-align: center;
}