#files-list {
  width: min-content;
  margin: auto;
  padding: 0;
  list-style: none;
  display: grid;
  text-wrap: nowrap;
}

.top-row {
  border-top: 4px solid black;
  font-size: larger;
  font-weight: bold;
}

.first-column {
  border-left: 4px solid black;
}

.first-column, .second-column, .third-column {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  padding: 4px;
}
