nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aqua;
  padding: 10px;
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 10px;
  align-items: center;
}

nav a {
  color: darkslateblue;
  background-color: azure;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
