nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(105, 188, 239);
  padding: 10px;
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 10px;
  align-items: center;
}

nav a {
  color: darkslateblue;
  background-color: azure;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;

}
nav a:hover {
  background-color: rgb(216, 233, 244);
  cursor: pointer;
  transition: 0.30s;
}
