<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - Flask</title>
    <link rel="icon" href="{{ url_for('static', filename='smily-face.ico') }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="nav.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
    {% block stylesheet %}{% endblock %}
    <script src="https://kit.fontawesome.com/6ef62d453f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <a href="/"><h1>Home</h1></a>
      <ul>
        <a href="/upload"><li>Upload</li></a>
        <a href="/download"><li>Download</li></a>
        <a href="/convert"><li>Convert</li></a>
      </ul>
    </nav>
    {% block body %}{% endblock %}
  </body>
</html>
