{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for("static", filename="convert.css")}}">
<link rel="stylesheet" href="{{ url_for("static", filename="grid.css")}}">
{% endblock %}
{% block icon %}<link rel="icon" href="{{ url_for('static', filename='cat-face.ico') }}">{% endblock %}

{% block title %}Convert{% endblock %}

{% block body %}
<h1>Convert File</h1>
<ul id="files-list">
  <li class="top-row first-column">Available files</li><li class="top-row second-column">Selection</li><li class="top-row third-column">Output</li>
  {% for input in inputs %}
  <li class="first-column">{{input[0]}}</li><li class="second-column"><span class="underline">select</span><span>☐</span></li>
  <select name="extensions" class="third-column">
    {% for extension in input[1] %}
      <li>{{extension}}</li>
      <option value="{{extension}}">{{extension}}</option>
    {% endfor %}
  </select>
  {% endfor %}
</ul>
<form action="/convert" method="POST">
  <input type="hidden" id="selected-file" name="selected_file">
  <input type="hidden" id="selected-extension" name="selected_extension">
  <button type="submit">Convert</button>
</form>
<script src="{{url_for("static", filename="convert.js")}}"></script>
{% endblock %}
