{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for("static", filename="convert.css")}}">
<link rel="stylesheet" href="{{ url_for("static", filename="grid.css")}}">
{% endblock %}
{% block icon %}<link rel="icon" href="{{ url_for('static', filename='cat-face.ico') }}">{% endblock %}

{% block title %}Convert{% endblock %}

{% block body %}
<h1>Convertir un fichier</h1>
<ul id="files-list">
  <li class="top-row first-column">Fichiers disponibles</li><li class="top-row second-column">sélection</li>
  {% for file in files %}
  <li class="first-column">{{file}}</li><li class="second-column"><span class="underline">select</span><span>☐</span></li>
  {% endfor %}
</ul>
<form action="/convert" method="POST">
  <input type="hidden" id="selected-file" name="selected_file">
  <input type="hidden" id="possible-convertions" name="selected_file">
  <button type="submit">Convertir</button>
</form>
<script src="{{url_for("static", filename="convert.js")}}"></script>
{% endblock %}
